@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-font {
  font-family: "Poppins", sans-serif;
}

/* Shared styles */

.display-flex {
  display: flex;
}
.text-color-and-size {
  color: #6c6c6c;
  font-size: 1rem;
}

.btn-color {
  background-color: #e02c6d;
  border: none;
}

/* navbar related style */
header {
  margin-top: 58px;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
}
.nav-item {
  list-style: none;
  margin-right: 34px;
}
.nav-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  color: rgba(58, 58, 58, 1);
}
.size {
  width: 36px;
  height: 36px;
}

.navbar,
.banner {
  max-width: 1190px;
  margin: 0 auto;
}

/* banner related styles */

.banner {
  gap: 133px;
}

.banner-content {
  margin-top: 95px;
}

.banner-title {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 16px;
  width: 580px;
}
.banner-description {
  margin-bottom: 16px;
}
.btn {
  padding: 10px 56px 10px 24px;
  border-radius: 41px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
.banner-img {
  width: 100%;
  padding: 30px 33px 31px 2px;
  background-image: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
}

/* sponsor section style */

.sponsor-container {
  margin-top: 70px;
}
.divider {
  width: 1110px;
  height: 1px;
  background: linear-gradient(
    135.29deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.378%,
    rgba(192, 204, 218, 0.1) 100%
  );
  margin: 0 auto;
}

.sponsor {
  display: grid;
  max-width: 1110px;
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  padding-top: 35px;
  padding-bottom: 35px;
}
